<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
</head>
<body>


    <form action="/register" method="POST" name="form1" >

<input type="text" placeholder="Username" class="form-control" id="ok"  name="username" required>
<br>

<input type="password" placeholder="Password" class="form-control" id="ok" name="password" required>
<br>

<input type="email" placeholder="Email address" class="form-control" id="ok" name="email" required>
<br>

<div class="container">
    <in class="form-group">
        <label> Select your Favourites</label>
        <br>
    <label>Favourite 1</label>
        <select name="choice1">
            <option>Health</option>
            <option>Tech.</option>
            <option>Cycological</option>
            <option>Food</option>
            <option>Financial</option>
            <option>Airport</option>
            <option>College</option>
            <option>Shopping</option>
            <option>Time Management</option>
            <option>Road Trip Travel</option>
        </select>

        <label>Favourite 2</label>
        <select name="choice2">
            <option>Food</option>
            <option>Health</option>
            <option>Tech.</option>
            <option>Cycological</option>
            <option>Financial</option>
            <option>Airport</option>
            <option>College</option>
            <option>Shopping</option>
            <option>Time Management</option>
            <option>Road Trip Travel</option>
        </select>

<label>Favourite 3</label>
        <select name="choice3">
            <option>Tech.</option>
            <option>Health</option>
            <option>Cycological</option>
            <option>Food</option>
            <option>Financial</option>
            <option>Airport</option>
            <option>College</option>
            <option>Shopping</option>
            <option>Time Management</option>
            <option>Road Trip Travel</option>
        </select>
    <br>
    <br>
<br>
<br>
<button class="btn btn-success btn-lg" id="shift" type="submit" onclick="phonenumber(document.form1.text1)" >Create account</button>

    </in>
</div>

    <!--</form>-->
<!--<form action="/register" method="post">-->

</form>



<% if (b==="0"){ %>


    <h2 id="ejs">
    Email already exists
    </h2>
<% } %>


<% if (b==="1"){ %>

<h2 id="ejs">

    Username already exists
</h2>
<% } %>
<script>
    function phonenumber(inputtxt)
    {
        var phoneno = /^\d{10}$/;
        if(inputtxt.value.match(phoneno))
        {
            return true;
        }
        else
        {
            alert("Not a valid Phone Number");
            return false;
        }
    }
</script>

</body>
</html>