<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TweaksUp</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <div id="first">
        <img id="logo" src="tweaksup.jpg">
    </div>
</body>
</html>
