


<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
 <title>REGISTRATION SUCCESSFUL</title>
<!-- <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
 <link rel="stylesheet" type="text/css" href="bbl.css">-->

</head>


<body>

<h1> Thanks <%= username%> For Registering!! </h1><br>
<p>
 Confirm your email-address by clicking on the confirmation link sent to your registered email address.
</p>
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script>-->

</body>
</html>



